body {
	margin: 0;
}

.header {
	max-width: 1920px;
	max-height: 700px;
	background: #eeeff1;
}

img.header-top__logo {
	margin-top: 57px;
	margin-left: 402px;
	text-align: center;
	flex-shrink: 0;
}

.nav.nav {
	display: inline-block;
	width: 20%;
}

ul.nav__list {
	display: flex;
	margin-top: 16px;
	padding-left: 398px;
	padding-top: 79px;
}

li {
	list-style: none;
}

li.nav__item {
	margin-left: 12px;
	white-space: nowrap;
}

a {
	text-decoration: none;
}

a.nav__link {
	color: black;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	font-family: Roboto;
	letter-spacing: 1.6px;
	line-height: 164.063%; /* 26.25px */
	margin-right: 42px;
}
/* !!! hover Под вопросом !!! */
a.nav__link:focus {
	color: var(--Accent, #34547a);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 1.6px;
	line-height: 164.063%; /* 26.25px */
}

div.header-content {
	position: relative;
}

img.header-content__img {
	position: absolute;
	padding: 29px 0px 188px 487px;
	width: 357px;
	height: 233.7px;
}

div.header-content__info {
	margin-left: 974px;
	margin-top: 146px;
	padding-bottom: 398px;
	width: 541px;
}

h1.header-content__title {
	font-family: Roboto;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 164.063%;
}

p.header-content__text {
	color: #727272;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 164.063%;
	padding-bottom: 30px;
}

.button.header-content__button {
	margin: 0;
	padding: 0;

	border: none;
	background: #34547a;
	width: 225px;
	height: 65px;
}
button.button.header-content__button {
	color: #fff;
	text-align: center;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 164.063%; /* 26.25px */
	letter-spacing: 1.6px;
}

/* Обо мне */

main.main {
	padding-top: 100px;
}

h2.about__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: center;
}
about.about__text {
	text-align: center;
}
p.about__text {
	font-family: Roboto;
	color: #727272;
	font-size: 16px;
	font-style: normal;
	font-weight: 400px;
	line-height: 164%;
	max-width: 540px;
	max-height: 67px;
	padding: 50px 690px 100px 690px;
}
.about__list {
	background: var(--Accent, #34547a);
	width: 100%;
	height: 100%;
	display: flex;
	padding: 100px 0px 100px 0px;
}
.about__item {
	margin-left: 140px;
}
li.about__item {
	white-space: nowrap;
}
div.about__item-content {
	display: inline-block;
	padding-left: 20px;
}
/* 40+ */
h3.about__item-content__title {
	text-align: left;
	color: #fff;
	font-family: Roboto;
	font-size: 21px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
/* проектов */
p.about__item-content__text {
	text-align: left;
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 164%;
}

/* Мои навыки */

div.about-skills {
	float: left;
	padding-left: 386px;
	padding-top: 175px;
}
img.about__img {
	width: 555px;
	height: 450px;
	flex-shrink: 0;
	float: right;
	padding-right: 384px;
	padding-bottom: 101px;
	padding-top: 103px;
	padding-left: 110px;
}
/* Мои навыки */
h3.about-skills__title {
	font-family: Roboto;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
/* Adobe Photoshop */
p.about-skills__text {
	color: #727272;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 164%;
}
ul.about-skills__list {
	/* Обнулил padding */
	padding-inline-start: 0;
}

/* Линии */

/* HTML */
div.about-skills__line.html::before {
	content: '';
	width: 400px;
	height: 4px;
	transform: rotate(-0.06deg);
	flex-shrink: 0;
	background: var(--Accent, #34547a);
	display: block;
}
div.about-skills__line.html {
	width: 445px;
	height: 4px;
	flex-shrink: 0;
	background: #c4c4c4;
}
/* CSS */
div.about-skills__line.css::before {
	content: '';
	width: 430px;
	height: 4px;
	transform: rotate(-0.06deg);
	flex-shrink: 0;
	background: var(--Accent, #34547a);
	display: block;
}
div.about-skills__line.css {
	width: 445px;
	height: 4px;
	flex-shrink: 0;
	background: #c4c4c4;
}
/* JS */
div.about-skills__line.js::before {
	content: '';
	width: 350px;
	height: 4px;
	transform: rotate(-0.06deg);
	flex-shrink: 0;
	background: var(--Accent, #34547a);
	display: block;
}
div.about-skills__line.js {
	width: 445px;
	height: 4px;
	flex-shrink: 0;
	background: #c4c4c4;
}
